<div class="rounded-xl bg-teal-500 px-8 py-6 {{this.validForTypeInChild}}">
  {{this.validForTypeInChild}} <span title="This class can't be used here" class="text-red-600">{{this.invalidForTypeInChild}}</span>
</div>