<div class="rounded-xl bg-gradient-to-b from-fuchsia-600 to-fuchsia-400 border border-fuchsia-800 shadow-xl px-8 py-6 {{this.validForTypeInChild}}">
  {{this.validForTypeInChild}} <span title="This class can't be used here" class={{this.COLORS.invalid}}>{{this.invalidForTypeInChild}}</span>
</div>