<div class="rounded-xl bg-gradient-to-b from-stone-600 to-stone-400 border border-stone-500 shadow-xl px-8 py-6 {{this.validForTypeInChild}}">
  {{this.validForTypeInChild}} <span title="This class can't be used here" class={{this.COLORS.invalid}}>{{this.invalidForTypeInChild}}</span>
</div>