<div class="container mx-auto flex flex-wrap gap-4 py-4">
  <Demo />
  {{!-- <h1>Both</h1>
  <Parent @classes="justify-start">
    <Child>01</Child>
    <Child>02</Child>
    <Child>03</Child>
  </Parent>

  <Parent @classes="justify-end">
    <Child>01</Child>
    <Child>02</Child>
    <Child>03</Child>
  </Parent>

  <Parent @classes="justify-between">
    <Child>01</Child>
    <Child>02</Child>
    <Child>03</Child>
  </Parent>

  <Parent @classes="justify-around">
    <Child>01</Child>
    <Child>02</Child>
    <Child>03</Child>
  </Parent>

  <Parent @classes="justify-evenly">
    <Child>01</Child>
    <Child>02</Child>
    <Child>03</Child>
  </Parent>

  <h1>Grid only</h1>

  <Parent @classes="justify-items-end" @type="grid">
    <Child>01</Child>
    <Child>02</Child>
    <Child>03</Child>
    <Child>04</Child>
  </Parent>

  <Parent @classes="justify-items-stretch" @type="grid">
    <Child>01</Child>
    <Child @classes="justify-self-center">02</Child>
    <Child>03</Child>
    <Child>04</Child>
  </Parent>

  <h1>Flex only</h1>

  <Parent @classes="items-end" @type="grid">
    <Child>01</Child>
    <Child>02 <br />002</Child>
    <Child>03</Child>
    <Child>04</Child>
  </Parent> --}}
</div>